<!DOCTYPE html>
<html lang="{{lang}}">

{{> partials/head }}

<body>
  <div id="page">
    <div class="tabs">
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>

{{> partials/foot }}
